{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
  </head>

  <body>
    <!-- 로그아웃 -->
    <!-- request.user가 인증이 되었다면 -->
    <!-- 회원가입 들어가서 로그인 인증이 되면 로그아웃 표시 -->
    {% if request.user.is_authenticated %}
      <span>{{ request.user }}</span>
      <a href="">로그아웃</a>
    {% else %}
      <!-- 회원가입 링크 -->
      <a href="{% url 'accounts:signup' %}">회원가입</a>
      <!-- 로그인 링크 -->
      <a href="{% url 'accounts:login' %}">로그인</a>

    {% endif %}

    <div class="container my-5">
      {% block body %}{% endblock body %}
    </div>
    {% bootstrap_javascript %}
  </body>

</html>