{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
  <h1>{{ user.username }}님의 프로필</h1>
  <p>팔로우 :
    {{ user.followings.count }}
    | 팔로워 :
    {{ user.followers.count }}</p>

  {% if request.user != user %}
    <a href="{% url 'accounts:follow' user.pk %}">
      {% if request.user in user.followers.all %}
        <input type="submit" value='팔로우 취소'>
      {% else %}
        <input type="submit" value='팔로우'>
      {% endif %}
    </a>
  {% endif %}

  <!-- following <div>팔로우: {{ person.following.all|length }} | 팔로워: {{ person.followers.all }}|length</div> {% if user != person %} <div> <form action="{% url 'accounts:follow' person.pk %}" method='POST'> {% csrf_token %} {% if request.user in person.followers.all %} <input type="submit" value="unfollow"> {% else %} <input type="submit" value="follow"> {% endif %} </form> </div> {% endif %} {{ person.following.count }} -->

  <h2>작성한 글</h2>
  <h2>좋아요 누른 글</h2>
  <!-- article에 좋아요 누른 user들의 count -->
  <span>{{ article.lilke_users.count }}</span>

{% endblock %}
