{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
  <h1>{{ user.username }}님의 프로필</h1>

  <!-- following -->
  <p>팔로우:
    {{ user.following.count }}
    | 팔로워:
    {{ user.followers.count }}</p>

  {% if user != person %}
    <div>
      <form action="{% url 'accounts:follow' user.user_pk %}" method='POST'>
        {% csrf_token %}

        {% if request.user in user.followers.all %}
          <input type="submit" value="unfollow">
        {% else %}
          <input type="submit" value="follow">
        {% endif %}
      </form>
    </div>
  {% endif %}
  {{ user.following.count }}

  <!-- article에 좋아요 누른 user들의 count -->
  <span>{{ article.lilke_users.count }}</span>

{% endblock %}
