{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}

  <!-- navbar -->
  <div>
    <img src="{% static 'images/megabox.jpg' %}" alt="logo">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Cine</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">영화</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">예메</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Review
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">공지사항</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">영화게시판</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <a class="dropdown-item" href="#">Cine Moments</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>

  <!-- 영화 목록 -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="{% static 'images/social_network.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Social Network</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/steve_jobs.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">스티브 잡스</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/스파이더맨.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">스파이더맨</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/킹스맨.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kingsman</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- form -->
  <div>
    <form action="{% url 'reviews:create' %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form review_form %}
      <input type="submit" value="글쓰기">
    </form>
  </div>

  <!-- table -->
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">영화 이름</th>
        <th scope="col">작성자</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>The Social Network 후기</td>
        <td>The Social Network</td>
        <td>장고</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>스티브 잡스 후기</td>
        <td>스티브 잡스</td>
        <td>사파리</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">스파이더맨 후기</td>
        <td>스파이더맨</td>
        <td>톰</td>
      </tr>
    </tbody>
  </table>

{% endblock %}