{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block body %}
  <h1>index.html</h1>
  <!-- <a href="{% url 'articles:new' %}">new.html에서 글 작성하기</a> 였음 -->
  {% if request.user.is_authenticated %}
    <a href="{% url 'articles:create' %}">create</a>
  {% endif %}
  <hr>
  {% for article in articles %}
    <span>title:
      {{ article.title }}
    </span>
    |
    <span>content:
      {{ article.content }}
    </span>

    <!-- endfor 밖에서 해보기 -->
    <a href="{% url 'articles:detail' article.pk %}">[detail에서 작성한글 확인]</a>
    <a href="{% url 'articles:delete' article.pk %}">[delete]</a>
    <hr>
  {% endfor %}
  <hr>
  <img src="{% static 'artcles/autumn_02.jpeg' %}" alt="">
{% endblock %}
