{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}

    {% bootstrap_form article_form %}
    {{ article_form.as_p }}
    <!--<label for="title">제목 : </label>
    <input type="text" name="title" id="title">
    <label for="content">내용 : </label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>-->
    {% bootstrap_button button_type="submit" content="OK" %}
  </form>  
</body>
</html>